.container {
    max-width: 1000px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F0F3BD;
    text-transform: capitalize;
    text-align: center;

}

h1 {
    color: #05668D;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    color: #05668D;
    text-decoration: underline;
    margin-top: 2%;
    margin-bottom: 2%;
}

h3 {
    color: #05668D;
    text-decoration: underline;
    margin-top: 2%;
    margin-bottom: 2%;
}

button {
    color: #028090;
}

button.btn-primary,
button.btn-primary:disabled {
    background: #028090;
    border-color: #028090;
}

button.btn-primary:focus,
button.btn-primary:active,
button.btn-primary:hover {
    background: #028090;
    border-color: #028090;
}

button.btn-info {
    background-color: #00A896;
    border-color: #00A896;
}

button.btn-danger {
    background-color: #02C39A;
    border-color: #02C39A;
}

button.btn-danger:hover {
    background-color: #F0F3BD;
    border-color: #F0F3BD;
}

.table {
    color: #05668D;
    margin-top: 1%;
    margin-bottom: 1%;
}

.CompleteTask {
    color: #05668D;
}

.row {
    color: #05668D;
    margin-top: 1%;
    margin-bottom: 1%;
}

.form-inline {
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}